.recipeDetail {
  margin-top: 92px;
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
}

.recipeTitle {
  font-size: 2rem;
}

.recipeHearths {
  margin: 0.8rem 0 0.4rem 0;
  display: flex;
  gap: 0.25rem;
  align-items: center;
}

.recipeSummary {
  margin-bottom: 2rem;
  font-size: 1rem;
  text-align: justify;
  line-height: 1.75rem;
}

.recipeImage {
  align-self: center;
  width: 100%;
  max-width: 720px;
}

.recipeInfo,
.recipeSteps {
  margin: 1rem 0;
  padding: 1rem;
  background-color: var(--bg-color-hover);
}

.infoList {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.infoItem {
  list-style: none;
}

.stepsList {
  padding: 1rem 1.5rem;
  text-align: justify;
}

.stepsItem {
  padding: 0.8rem;
  margin: 0.8rem 0;
}

.stepsItem:hover {
  background-color: var(--bg-color-active);
}
