.errContainer {
  margin-top: 92px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.errH1 {
  font-size: 4rem;
}

.errH3 {
  font-size: 1.8rem;
}

.errBtn {
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  transition: all 0.3s;
}

.errBtn:hover {
  cursor: pointer;
  font-weight: bold;
  background-color: var(--bg-color-hover);
}

.errBtn:active {
  background-color: var(--bg-color-active);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2) inset;
}
