.createRecipeContainer {
  margin-top: 92px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.recipeForm {
  display: flex;
  flex-direction: column;
  width: 45%;
  max-width: 600px;
  min-width: 300px;
}

.recipeLabel {
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.recipeInput {
  padding: 0.5rem;
  border: 2px solid #ccc;
  border-radius: 0.5rem;
  background-color: var(--bg-color);
}

.recipeInput:focus {
  outline: none;
}

.dietsSelector {
  border: 2px solid #ccc;
  border-radius: 0.5rem;
  background-color: var(--bg-color);
}

.recipeDiets {
  padding: 0.5rem;
  border: none;
  background-color: var(--bg-color);
}

.recipeDiets:checked {
  background-color: var(--bg-color-active);
}

.recipeInput[iserror="true"] {
  border-color: red;
}

.createRecipeBtn {
  margin-top: 3rem;
  padding: 0.5rem;
  border: 2px solid #ccc;
  border-radius: 0.5rem;
  background-color: var(--bg-color);
}

.createRecipeBtn:hover {
  cursor: pointer;
  background-color: var(--bg-hover);
}

.createRecipeBtn:active {
  background-color: var(--bg-active);
}

.err {
  margin-top: 0.25rem;
  font-style: italic;
  color: #ff0000;
}
